/* Font information */
.afs-bergamo-std { font-family: "Bergamo Std", "Baskerville", "Hoefler Text", "Palatino", "Georgia", "Times New Roman", serif; ;}

.afs-hattori-hanzo { font-family: "Hattori Hanzo", "Helvetica", "Arial", "Lucida Grande", "Gill Sans", "Verdana", sans-serif; font-size: 0.912em;}

.afs-bergamo-std { font-family: "Bergamo Std", "Baskerville", "Hoefler Text", "Palatino", "Georgia", "Times New Roman", serif; font-size: 1.000em;}

.afs-lekton { font-family: "Lekton", Menlo, Courier New, Courier, Mono, monospace; font-size: 0.895em;}


@font-face {
  font-family: 'Bergamo Std';
  src: url('/fonts/BergamoStd-Bold-webfont.eot');
  src: local('☺'), url('/fonts/BergamoStd-Bold-webfont.woff') format('woff'), url('/fonts/BergamoStd-Bold-webfont.ttf') format('truetype'), url('/fonts/BergamoStd-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Bergamo Std';
  src: url('/fonts/BergamoStd-BoldItalic-webfont.eot');
  src: local('☺'), url('/fonts/BergamoStd-BoldItalic-webfont.woff') format('woff'), url('/fonts/BergamoStd-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/BergamoStd-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Bergamo Std';
  src: url('/fonts/BergamoStd-Italic-webfont.eot');
  src: local('☺'), url('/fonts/BergamoStd-Italic-webfont.woff') format('woff'), url('/fonts/BergamoStd-Italic-webfont.ttf') format('truetype'), url('/fonts/BergamoStd-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Bergamo Std';
  src: url('/fonts/BergamoStd-Regular-webfont.eot');
  src: local('☺'), url('/fonts/BergamoStd-Regular-webfont.woff') format('woff'), url('/fonts/BergamoStd-Regular-webfont.ttf') format('truetype'), url('/fonts/BergamoStd-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: 'Hattori Hanzo';
  src: url('/fonts/Hattori_Hanzo-webfont.eot');
  src: local('☺'), url('/fonts/Hattori_Hanzo-webfont.woff') format('woff'), url('/fonts/Hattori_Hanzo-webfont.ttf') format('truetype'), url('/fonts/Hattori_Hanzo-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Hattori Hanzo';
  src: url('/fonts/Hattori_Hanzo_Italic-webfont.eot');
  src: local('☺'), url('/fonts/Hattori_Hanzo_Italic-webfont.woff') format('woff'), url('/fonts/Hattori_Hanzo_Italic-webfont.ttf') format('truetype'), url('/fonts/Hattori_Hanzo_Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 200;
  font-style: italic;
}


@font-face {
  font-family: 'Lekton';
  src: url('/fonts/Lekton-Bold-webfont.eot');
  src: local('☺'), url('/fonts/Lekton-Bold-webfont.woff') format('woff'), url('/fonts/Lekton-Bold-webfont.ttf') format('truetype'), url('/fonts/Lekton-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Lekton';
  src: url('/fonts/Lekton-Italic-webfont.eot');
  src: local('☺'), url('/fonts/Lekton-Italic-webfont.woff') format('woff'), url('/fonts/Lekton-Italic-webfont.ttf') format('truetype'), url('/fonts/Lekton-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Lekton';
  src: url('/fonts/Lekton-Regular-webfont.eot');
  src: local('☺'), url('/fonts/Lekton-Regular-webfont.woff') format('woff'), url('/fonts/Lekton-Regular-webfont.ttf') format('truetype'), url('/fonts/Lekton-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'HillHouseMedium';
    src: url('Hill_House-webfont.eot');
    src: local('☺'),
    	 url('Hill_House-webfont.eot?#iefix') format('embedded-opentype'),
         url('Hill_House-webfont.woff') format('woff'),
         url('Hill_House-webfont.ttf') format('truetype'),
         url('Hill_House-webfont.svg#HillHouseMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}